body {
  font-family: "poppins";
}

/* Hedding */
.Heading-font {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 4rem;
  color: white;
}

#title {
  background-color: #ff4c68;
  padding: 1% 10% 5% 10%;
  font-size: 1.5rem;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(30deg);
}

/* button */
.btn {
  margin: 25% 10% 5% auto;
}

/* Navigation Bar */
.navbar-nav {
  margin-right: 10%;
}

.navbar {
  padding-bottom: 5%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  font-family: "poppins";
  padding: 5%;
  margin: auto auto auto 10%;
}

.collapse {
  margin: auto;
  margin-right: 20%;
}

/* Features */
#features {
  background-color: white;
  padding: 10%;
}

.features-subtitle {
  text-align: center;
}

.features-tittle {
  font-family: "Montserrat";

}
.col-lg-4 img{
  width:30%;
  margin-bottom: 10%;
}

.features-subtitle p{
  width:55%;
  text-align: center;
  margin: auto;
  color:gray;
}

/* Testimonials */
#testimonials {
  background-color: #ff4c68;
  padding: 5% 7% 5% 7%;
  color: white;
}

.testimonial-heading {
  font-family: "Montserrat";
  line-height: 1.5;
  color: white;
}
/* Testimonials end */

/* Press Start */
#press{
  padding: 5%;
}
.press-img{
  padding: 2%;

}

/* Press end */


/* pricing start */
#pricing {
  padding: 5% 10% 5% 10%;
  font-family: "poppins";
  background-color: #3edbf0;
  color: #143b4e;
}
.pricing{
  text-align: center;
  padding-bottom: 5%;


}
.pricing h2{
  font-family:"Montserrat";
}
.col-lg-4 h3{
  font-family:"Montserrat"
  }
.btn-style{
  margin: 25% 10% 5% auto;
  padding: 2% 5% 2% 5%;
  background-color: #003366;
  color:white;
}
.btn3{
   margin-top: 15%;
}

/* pricing end */

/* Call to action start */
#cta{
  padding: 5% 10% 5% 10%;
  text-align: center;
}

.cta h3{
  font-family:"Montserrat"
}
.btn-cta{
  margin-top: 5%;
}
/* Call to action end */

/* Footer star */
#footer{
  background-color: #16091f;
  padding: 2%;

}
.footer p{
  color: white;
  text-align:center;
    font-family:"poppins"
}
/* Footer end */
